/*
FIXME GRRRRRRRRRRRRRRR 
.gradient {
  transition: sunset 5s;
} */

.gradient.day {
  background: linear-gradient(90deg, #E8912A 1.06%, #E36464 20.6%, #C44C8C 35.92%, #95569F 54.1%, #6A557F 79.48%, #46557D 97.28%);
}

.gradient.night {
  background: linear-gradient(270deg, #E8912A 1.06%, #E36464 20.6%, #C44C8C 35.92%, #95569F 54.1%, #6A557F 79.48%, #46557D 97.28%);
  animation-direction: reverse;
}

@keyframes sunset {
	0% { background: linear-gradient(90deg, #E8912A 1.06%, #E36464 20.6%, #C44C8C 35.92%, #95569F 54.1%, #6A557F 79.48%, #46557D 97.28%) }
  50% { background: linear-gradient(180deg, #E8912A 1.06%, #E36464 20.6%, #C44C8C 35.92%, #95569F 54.1%, #6A557F 79.48%, #46557D 97.28%) }
  100% { background: linear-gradient(270deg, #E8912A 1.06%, #E36464 20.6%, #C44C8C 35.92%, #95569F 54.1%, #6A557F 79.48%, #46557D 97.28%) }
}